table{
    border: 1px solid gray;
    border-spacing: 0;
    border-right-width: medium;
    border-bottom-width: medium;
    border-radius: 2%;
}

th{
    position: relative;
    border: 1px solid gray;
    width: 100px;
    height: 50px;
    border-radius: 5%;
    font-weight: normal;
    font-family: system-ui;
    background-color: rgb(253, 253, 253);
    color: rgb(151, 150, 150);
}

.day{
    color: black;
}

.attached{
    color: black;
}

#tableHeader{
    background-color: rgb(248, 248, 248);
    color: rgb(38, 37, 37);
}

.holiday{
    background-color: rgb(255, 237, 240);
}

.sunday{
    background-color: rgb(255, 235, 238);
}

.saturday{
    background-color: rgb(232, 252, 255);
}


.changeMonth:hover, .attached:hover{
    background-color: rgb(235, 235, 235);
    cursor: default;
}
