a{
    text-decoration: none;
    color: rgb(102, 102, 135);
    border: solid 0.5px black;
    background-color: rgb(197, 193, 187);
    border-radius: 5%;
    padding: 2px;
}

.changeToDelete{
    position: absolute;
    z-index: 3;
    top: -4vh;
    right: 0;
    border: solid 1px rgb(145, 142, 142);
    border-radius: 5%;
    color: rgb(58, 58, 58);
    background-color: rgb(179, 186, 207);
}

.on{
    border:solid 0.5px rgb(122, 119, 119);
    background-color: rgb(161, 167, 187);
    color:rgb(70, 70, 70);
}

.rowcolumn{
    position: absolute;
    border:solid 2px rgb(132, 131, 131);
    border-radius: 20%;
    font-weight: 100px;
    z-index:3;
    background-color: rgb(157, 162, 175);
    font-size: 20px;
}

.top{
    top: -1.5vh;
    margin: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.bottom{
    bottom: -1.5vh;
    margin: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.left{
    left:-1.3vw;
    margin: 0;
    top: 50%;
    transform: translate(0,-50%);
}
.right{
    right:-1.3vw;
    margin: 0;
    top: 50%;
    transform: translate(0,-50%);
}

.cover-page{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width:0;
    height:0;
    z-index: -1;
    opacity: 0;
    transition: 0.1s;
    background-color: rgb(253, 248, 227);
}

.cover{
    z-index: 2;
    opacity: 0.1;
    width:100vw;
    height:100vh;
}

#display{
    margin: 3vh auto;
    position: relative;
    padding: 1vw;
    width: max-content;
    background-color: rgb(120, 130, 150);
    z-index: 0;
}

#mainzone{
    position: relative;
    width:auto;
    display: flex;
    flex-direction: column;
}

.Row{
    position: relative;
    height:6.66666vw;
    width:auto;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.column{
    position: relative;
    width:5vw;
    border:solid 1px black;
    background-color:rgb(246, 246, 255);
    margin:0.1vw;
}

img{
    position: relative;
    width:5vw;
    height:6.66666vw;
    opacity: 0.6;
}

.hidden{
    background: rgba(250,250,250,0.3);
}

.showANDhide{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    border: none;
    width:100%;
    height: 100%;
    opacity: 0.001;
}
