.loadingCover{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0.3;
    z-index:9999;
    background-color:rgb(222, 222, 252);
}

.loaded{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0.3;
    background-color:rgb(222, 222, 252);
    z-index:9999;
    -webkit-animation: finishload 2s forwards;
    animation: finishload 2s forwards;
}

.loaded::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(115, 114, 114,1);
    width: 0;
    height: 2px;
    -webkit-animation: BfinishLoad 2s forwards;
    animation: BfinishLoad 2s forwards;
}

@keyframes finishload{
    70% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}

@keyframes BfinishLoad{
    0% {
        width:0;
        height:2px;
        background-color: rgba(115, 114, 114,1);
    }
    50% {
        width:100%;
        height:2px;
        background-color: rgba(200, 200, 200,0.6);
    }
    90% {
        width:100%;
        height:100%;
        background-color: rgba(220, 220, 220,0.4);
    }
    100% {
        width:100%;
        height:100%;
        background-color: rgba(255, 255, 255,0);
    }
}

.spinner {
    position:absolute;
    width: 40%;
    height: 40%;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    margin: auto;
    background-color: rgb(171 192 247);
    border-radius: 100%;
    animation: scaleout 1.5s infinite ease-in-out;
}

@keyframes scaleout {
  0% {
    transform: scale(0.3);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.loadingMessage{
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 1;
    color: black;
    animation: hideMessage 1.5s infinite ease-in-out;
}

@keyframes hideMessage{
    0%{
        opacity:1;
        font-size: small;
    }
    100%{
        opacity:0;
        font-size:medium;
    }
}
