.contact{
    overflow: unset;
    background-color: rgba(255,255,235,0.97);
}

.contact-container{
    display: grid;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: inherit;
}

.contact-title{
    font-size: 40px;
    margin: 20px 10px;
}

.contact-message{
    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 20px 10px;
}

.mail-icon{
    background-image: url("../../img/mailIcon.png");
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: 30px 10px 10px 0;
}

.mail-arrow{
    font-size: larger;
}

.mail-adress{
    font-size: 30px;
}

@media screen and (max-width:800px){

    .contact-title{
        font-size: 30px;
        margin: 1vh 1vw;
    }

    .contact-message{
        font-size: 10px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        margin: 1vh 1vw;
    }

    .mail-icon{
        width: 50px;
        height: 50px;
        margin: 20px 10px 10px 0;
    }

    .mail-arrow{
        font-size: larger;
    }

    .mail-adress{
        font-size: 20px;
    }

}
