.profile{
    background: rgba(255,230,255,0.9);
    display: grid;
}

.profile-container{
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    background-color: rgba(255,255,255,0.7);

}

.profile-img{
    background-image: url(../../img/profile-img/profile-img2.png);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
    margin-top: 15px;
}

.self-introduction{
    display: grid;
    justify-content: center;
    text-align: center;
}

.self-name{
    font-size: 30px;
    text-align: center;
}

.self-address{
    font-size: 17px;
    text-align: center;
}

.self-career{
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10px;
    margin: 0 30px 20px 30px;
}

.career-title{
    margin-top: 15px;
}

.career-text-container{
    display: grid;
    grid-gap: 10px;
    margin: 10px;
}

.career-text{
    font-size: 15px;
}

.date-text{
    font-size: medium;
}
