.skills{
    background-size: cover;
    background-blend-mode: luminosity;
    background-color: rgba(255, 255, 255, 0.9);
}

.skills-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
}

.skill-title{
    text-align: center;
    padding-top: 20px;
    color: #183977;
}

.skill-svg{
    width:100px;
    height:100px;
    padding: 5px;
}

.express{
    background-color: rgba(255,255,255,0.8);
}

.skill-row{
    position: relative;
    display: grid;
    grid-row-gap: 30px;
}

.skill-img-wrapper{
    position: relative;
    text-align: center;
}

.skill-text-wrapper{
    background-color: rgba(210,235,250,0.7);
    position: relative;
    color: #57698e;
    padding: 5px 0;
}

.skill-text{
    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

@media screen and (max-width:800px){
    .skill-text{
        font-size:15px;
    }
}
