.font-arapey{
    font-family: 'Arapey', serif;
}

.nav-menu{
    width :fit-content;
    height: fit-content;
    transform: translate(10%,100%);
}

.link{
    color: navy;
    font-size: larger;
}

.nav-slide-enter{
    opacity:0;
    transform: translateX(-20%) translateY(100%);
}

.nav-slide-enter-active{
    opacity:1;
    transition: all 1s ease-in-out;
    transition-delay: 1.5s;
    transform: translateX(0) translateY(100%);
}

.nav-slide-exit{
    opacity:1;
    transform: translateX(0) translateY(100%);
}

.nav-slide-exit-active{
    opacity:0;
    transition: all 1s ease-in-out;
    transform:translateX(-20%) translateY(100%);
}

.welcome{
    width:80vw;
    font-size: 50px;
}

.welcome-fade-enter{
    opacity:0;
}

.welcome-fade-enter-active{
    opacity:1;
    transition: all 2.5s ease-in-out;
}

.welcome-fade-exit{
    opacity:1;
}

.welcome-fade-exit-active{
    opacity:0;
    transition: all 2.5s ease-in-out;

}

.top-message1{
    transform: translate3d(-50%,-70%,0);
    font-size: 80px;
    width: fit-content;
}

.message-p{
    color:rgb(1, 76, 142);
}

.top-message2{
    transform: translate3d(100%,900%,0);
    font-size: 25px;
    color: #8e8e8e;
}

.message-e{
    color: #ffb8d2;
}

.message-a{
    color: #91add0;
}

.message-nw{
    color: #4da4af;
}

.message-fade-enter{
    opacity:0;
}

.message-fade-enter-active{
    opacity:1;
    transition: all 1.5s ease-in-out;
    transition-delay: 2s;
}

.message-fade-exit{
    opacity:1;

}

.message-fade-exit-active{
    opacity:0;
    transition: all 2.5s ease-in-out;
}

@media screen and (max-width:800px){
    .top-message1{
        font-size: 47px;
    }

    .top-message2{
        font-size: 15px;
        transform: translate3d(10%,1150%,0);
    }

    .nav-menu{
        width :fit-content;
        height: fit-content;
        transform: translate(10%,40%);
    }
}
